/* Default styles for the glowing text */
.glowing-text {
    color: green;
    text-shadow: 0 0 100px #16e616, 0 0 100px #00ff00, 0 0 100px #18da18;
}

/* Animated text */
.animated-name {
    animation: slideIn 1.3s ease-out;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text container for aligning text */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-container p {
    font-size: 20px;
}

/* Profile image style */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Animation for the slide-in effect */
@keyframes slideIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1.5; transform: translateY(0); }
}

/* CTA section for buttons */
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* CTA Button styles */
.cta-button {
    color: white;
    border: 2px solid green;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    border-radius: 5px;
}

/* Hover effect on buttons */
.cta-button:hover {
    border: 2px solid green;
    animation: pulse 1s infinite;
}

/* Pulse animation for buttons */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
}



/* Timeline container */
.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}

/* Vertical line for timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #525251;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

/* Timeline item style */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
}

/* Left-aligned items */
.timeline-item.left {
    left: 0;
    text-align: right;
}

/* Right-aligned items */
.timeline-item.right {
    left: 50%;
    text-align: left;
}

/* Timeline content style */
.timeline-content {
    background-color: #388E3C;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline-content:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Circle at each timeline item */
.timeline-item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    top: 15px;
    z-index: 1;
}

/* Circle position for left items */
.timeline-item.left::before {
    right: -8px;
}

/* Circle position for right items */
.timeline-item.right::before {
    left: -8px;
}

/* Fun fact section */
.fun-fact {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

/* Fun facts container */
.fun-facts {
    text-align: center;
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.fun-facts h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: green;
}

.fun-facts ul {
    list-style: none;
    padding: 0;
}

.fun-facts li {
    font-size: 18px;
    margin: 10px 0;
    padding: 12px;
    background: rgb(219, 213, 213);
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 10px;
    color: #333;
    margin-top: 50px;
}

.fun-facts li:hover {
    transform: scale(1.05);
}

/* Responsive styles for mobile screens */
@media (max-width: 767px) {

    .fun-fact-item {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fun-fact-item.in-view {
        opacity: 1;
        transform: translateY(0);
    }

    .animated-name {
        font-size: 23px;
    }

    .text-container p {
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    .cta-button {
        font-size: 16px;
        padding: 15px 18px;
        margin: 14px;
    }

    .timeline {
        flex-direction: column;
        padding: 0;
    }

    .timeline-item {
        width: 100%;
        padding: 10px;
    }

    .timeline-item.left,
    .timeline-item.right {
        text-align: right;
    }

    .timeline::after {
        display: none; /* Remove vertical line */
    }

    .timeline-item::before {
        display: none; /* Remove timeline circles */
    }

    /* Left-aligned items */
    .timeline-item.left {
        left: -20%; /* Mueve los elementos de la izquierda ligeramente hacia la izquierda */
        text-align: right;
    }

    /* Right-aligned items */
    .timeline-item.right {
        left: 20%; /* Mueve los elementos de la derecha ligeramente hacia la derecha */
        text-align: left;
    }
}

/* Responsive styles for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .animated-name {
        font-size: 40px;
    }

    .text-container p {
        font-size: 19px;
        padding: 10px;
    }

    .cta-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .timeline {
        flex-direction: row;
        gap: 20px;
    }

    .timeline-item {
        width: 45%;
    }

    .timeline-content {
    background-color: #388E3C;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
}



